@import '/node_modules/normalize.css/normalize';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	background-color: #0c4b16;
	color: white;
	height: 10vh;
}

.logo {
	font-size: 5rem;
	font-weight: bold;
}

.nav-links ul {
	display: flex;
	gap: 5rem;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

.carousel {
	position: relative;
	width: 100vw;
	height: 80vh;
	overflow: hidden;
}

.carousel-slide {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
	width: 100vw;
	height: 100%;
	object-fit: cover;
}

.carousel-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 24px;
	z-index: 1;
}

.prev {
	left: 0px;
}

.next {
	right: 0px;
}

.carousel-button:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.tagline {
	text-align: center;
	background-color: #e6f5e6;
	padding: 2rem;
	font-size: 2.4rem;
	background-color: #0c4b16;
	color: white;
}

.about-us {
	padding: 4rem 2rem;
	text-align: center;
	color: #333;
	background-color: #f9f9f9;
}

.about-us h2 {
	font-size: 3rem;
	color: #0c4b16;
	margin-bottom: 1.5rem;
}

.about-us p {
	font-size: 1.8rem;
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto;
	color: #555;
	text-align: justify;
}

.solutions {
	padding: 4rem 2rem;
	text-align: center;
	color: #333;
	background-color: #f9f9f9;
}

.solutions h2 {
	font-size: 3rem;
	color: #0c4b16;
	margin-bottom: 3rem;
}

.solution-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2rem;
}

.solution-item {
	background-color: #e6f5e6;
	padding: 2rem;
	border-radius: 8px;
	text-align: justify;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.solution-title {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.solution-item i {
	color: #0c4b16;
	font-size: 3rem;
	margin-bottom: 1rem;
}

.solution-item h3 {
	font-size: 2rem;
	color: #0c4b16;
	margin-bottom: 1rem;
}

.solution-item p {
	font-size: 1.6rem;
	color: #555;
	line-height: 1.5;
}

.contact-us {
	padding: 4rem;
	text-align: left;
	color: #333;
	background-color: #e6f5e6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 4rem;
}

.contact-us h2 {
	font-size: 3rem;
	color: #0c4b16;
}

.contact-us p {
	font-size: 1.8rem;
	line-height: 1.6;
	color: #555;
}

.contact-info p {
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.contact-info i {
	color: #0c4b16;
	font-size: 2rem;
}

.contact-info a {
	color: #0c4b16;
	text-decoration: none;
}

.contact-info a:hover {
	text-decoration: underline;
}

@media (max-width: 768px) {
	.carousel {
		height: 40vh;
	}

	.carousel-button {
		padding: 8px;
		font-size: 18px;
	}
}

@media (max-width: 480px) {
	.carousel {
		height: 30vh;
	}

	.carousel-button {
		font-size: 16px;
		padding: 6px;
	}
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: green;
	padding: 1rem;
}
